* {
    margin: 10;
    padding: 10;
    padding-left: 300px;
    margin-top: 50px;
}

table,th,td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}